@model IEnumerable<ProductsWithCategoryDTO>
@{
    ViewData["Title"] = "GetProducts";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Ürünler</h3>

<div class="container">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürun</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>İşlem</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ProductCode
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.UnitPrice
                            </td>
                            <td>
                                @item.Stock
                            </td>

                            <td>
                                <a href="#" class="btn btn-primary">Ekle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
